extends layout

block content
  .index
    .title
      img.icon(src='/images/icon-web.png')
      h1= title
    p An app for pedicabs
    a(href='https://appstore.com/')
      img.download(src="/images/app-store.png")
    .videos
      .video
        p User Onboarding Flow
        video(src="/videos/onboarding-flow.mov" type="video/mp4" controls height="400")
      .video
        p Driver Onboarding
        video(src="/videos/driver-onboarding.mov" type="video/mp4" controls height="400")
      .video
        p User Flow
        video(src="/videos/user-side.mov" type="video/mp4" controls height="400")
      .video
        p User and Driver Flow
        video(src="/videos/user-and-driver-flow.mov" type="video/mp4" controls height="400")
