extends layout

block content
  .index
    .title
      img.icon(src='/images/icon-web.png')
      h1= title
    p An app for pedicabs
    a(href='https://appstore.com/')
      img.download(src="/images/app-store.png")
